/*in bbsnewtcon*/
/*body>#main>#post*/
body{
  display:none;
  background: #FFF;
}
body.inited{
  display: inherit;
}
#b2t_page_wrap{
  width:980px;
  margin: 0 auto;
  background: #F5F7FA;
}
.b2t_body ul,.b2t_body p,.b2t_body pre {
  padding: 0px;
  margin: 0px;
}
#b2t_page_top{
    height:120px;
}
#b2t_page_foot{
    height:120px;
}
#b2t_page_main_notside{
    width:739px;
}
#b2t_page_main_side{
    width:240px;
}
#b2t_topic_post_list_wrap{
  width: 739px;
  background: #fff;
  border: 0px;
  border-left: 1px solid #E5E5E5;
  border-bottom: 1px solid #E1E4E6;
}
.b2t_topic_post_wrap {
  border: 0;
  border-left: 1px solid #E5E5E5;
  border-bottom: 1px solid #E1E4E6;
}
.b2t_post_user_wrap{
  float: left;
  width: 130px;
  text-align: center;
  padding: 15px 0;
  background: #fafbfc;
}
.b2t_post_article_wrap{
  float: left;
  width: 568px;
  padding: 24px 20px 7px 20px;
}
/*new:.tduserinfo>(.p_user_face=.user_name_div=.l_badge)*/
.p_author li{
  list-style-type: none;
}
.p_user_face{
  display: block;
  background: none repeat scroll 0 0 #FFF;
  border: 1px solid #CCC;
  display: inline-block;
  height: 80px;
  padding: 3px;
  width: 80px;
}
.p_user_face>img{
  width:80px;
  height:80px;
  padding:0px;
}
.user_name{
  line-height:22px;
  margin:10px 0px;
}
/*user_rank start*/
	.l_badge {
    position: relative;
    top: 0;
    left: 0;
    margin-top: 9px
}

.d_badge {
    background: url(http://tb2.bdstatic.com/tb/static-pb/img/pb_css_pic.png?t=1425627592071) no-repeat -72px -120px;
    cursor: pointer;
    height: 25px;
    line-height: 25px;
    margin: 0 auto;
    position: relative;
    top: 0;
    left: 0;
    width: 85px
}

.d_badge_bright {
    display: block;
    background: #fff;
    border: solid 1px #e6e6e6;
    width: 98px;
    height: 28px;
    line-height: 24px;
    cursor: pointer;
    position: relative;
    margin: 0 auto
}

.d_badge_bright .d_badge_title {
    height: 28px;
    line-height: 28px
}

.d_badge_title {
    color: #4c4c4c;
    position: absolute;
    text-align: center;
    width: 60px;
    height: 25px;
    line-height: 25px;
    left: 0;
    font-size:12px;
    font-family: arial,SimSun
}

.d_badge_bright .d_badge_lv {
    left: 67px;
    margin-top: 2px
}
.d_badge_lv {
    left: 60px;
    color: #B65E00;
    font-size: 11px;
    font-weight: 700;
    position: absolute;
    text-align: left;
    padding-left: 8px;
    width: 25px;
    height: 25px;
    line-height: 18px;
    font-family: arial
}
.d_badge_lz_icon .d_badge_lv {
    background: url(http://tb2.bdstatic.com/tb/static-puser/widget/pb_author/img/grade_groups_a0f2ce3.png) 0 -719px no-repeat;
    text-indent: -999px
}
.d_badge_icon .d_badge_lv {
    background: url(http://tb2.bdstatic.com/tb/static-puser/widget/pb_author/img/s2_1d1b36a.gif) no-repeat;
    padding-top: 3px
}
/*user rank end*/
/*title*/
.core_title {
  height: 56px;
  line-height: 56px;
  background: #FFF;
  border-left: 1px solid #E5E5E5;
  border-bottom: 1px solid #BBBDBF;
  width:739px;
  margin:0px auto;
}
.core_title .core_title_txt {
  float: left;
  display: inline;
  font-family: "Microsoft Yahei",STHeiti,Arial,SimSun;
  font-size: 16px;
  font-weight: 400;
  margin:0px;
  margin-left: 20px;
  width:470px;
  text-align:left;
  overflow:hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
ul.core_title_btns {
  margin-top: 15px;
  height: 25px;
  padding: 0px;
  margin: 15px 0px 15px 0;
  float: right;
}
.core_title_btns li {
  float: left;
  margin-right: 10px;
  display: inline;
}
.l_lzonly {
  background: url(http://tb2.bdstatic.com/tb/static-ppb/img/pb_css_pic_a630a08.png) no-repeat -8px -7px;
}
.l_lzonly {
  width: 67px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  display: block;
  text-decoration: none;
  color: #000;
}
.l_lzonly p{
    margin:0px;
    padding:0px;
}
.j_quick_reply{
    padding-left:20px;
    /*background: url(http://tb2.bdstatic.com/tb/static-ppb/img/pb_css_pic_a630a08.png) no-repeat -167px -8px;*/
}
.core_reply_wrapper {
  position: relative;
  line-height: 28px;
  height: 28px;
  margin-top: 30px;
  margin-right:20px; 
}
.core_reply_wrapper ul {
  list-style: none;
  float: right;
}
.core_reply_wrapper ul li {
  display: inline;
  margin-left: 6px;
  color: #999;
}